@using TravelTripProject.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Listesi</h2>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Yorum</th>
        <th>Blog ID</th>
        <th>Sil</th>
        <th>Güncelleme</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.KullaniciAdi</td>
            <td>@item.Mail</td>
            <td>@item.Yorum</td>
            <td>@item.Blog.Baslik</td>
            <td><a href="/Admin/YorumSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/YorumGetir/@item.ID" class="btn btn-success">Güncelleme</a></td>
        </tr>
    }
</table>
<a href="/Admin/YeniYorum/" class="btn btn-primary">Yeni Blog</a>
